.header .header-top {
    background: #01d262 none repeat scroll 0 0;
    height: 50px;
}

.contact>p {
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.header .header-top .contact p a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header .header-top .contact p span {
    margin-right: 45px;
}

.join-us>p {
    background: #089549 none repeat scroll 0 0;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.header .header-top .join-us p a {
    background: #089549 none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-size: 15px;
    font-weight: 500;
    padding: 0 40px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header .header-bottom .menu {
    margin: 34px 0;
}

.header .header-bottom .menu ul {
    float: right;
}

.header .header-bottom .menu ul li a {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 0;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}

.main-logo {
    margin: 29px 0;
}

.main-logo>img {
    display: inline-block;
}

.main-logo>h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 11px;
    color: #01d262;
}

.carosal-area {
    background-image: url("../images/img/carosal-bg.jpg");
    background-size: cover;
}

.carosal-area .text {
    text-align: center;
    margin-bottom: 50px;
}

.carosal-area .text>h3 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 210px;
}

.carosal-area .text>p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 28px;
}

.carosal-area .text>h5 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 52px;
}

.carosal-area .text>h5 a {
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
}

.carosal-area .text>h5.white-button a {
    background: #fff;
    color: #01d262;
}

.carosal-area .owl-prev {
    left: 0;
    position: absolute;
    top: 48%;
}

.carosal-area .owl-next {
    right: 0;
    position: absolute;
    top: 48%;
}

.carosal-area .owl-theme .owl-nav [class*="owl-"] {
    background: #1cb060 none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 25px;
    height: 50px;
    line-height: 43px;
    width: 50px;
}

.carosal-area .owl-dots {
    margin-bottom: 40px;
    margin-top: 105px;
}

.owl-theme .owl-dots .owl-dot span {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff none repeat scroll 0 0;
}


/*
.wrapper section>h2 {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    width: -moz-fit-content;
    text-transform: uppercase;
}
*/

.wrapper section>h2 {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 115px auto 50px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 115px 0 50px;
}

.wrapper section>h2::before {
    background: #01d262 none repeat scroll 0 0;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 48%;
    position: absolute;
    width: 75px;
    margin: 0 auto;
}

.wrapper section>p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.our_activity {
    margin-bottom: 140px;
}

.our_activity .single-Promo {
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 100px 35px 0;
    padding: 40px 45px;
    position: relative;
}

.our_activity .single-Promo .promo-icon {
    left: 0;
    position: absolute;
    text-align: center;
    top: -40px;
    width: 100%;
}

.our_activity .single-Promo h2 {
    border-radius: 60px;
    margin: 10px auto 38px;
    position: relative;
    width: -moz-fit-content;
}

.our_activity .single-Promo h2::before {
    background: #000 none repeat scroll 0 0;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 20%;
    position: absolute;
    width: 60%;
}

.our_activity .single-Promo h2 a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #3c354e;
}

.our_activity .single-Promo p {
    color: #3c354e;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.our_activity .single-Promo i {
    border: 0 solid #000;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 30px;
    padding: 25px;
    text-align: center;
    background: #fff;
}

.our_activity .single-Promo:hover>h2 a {
    color: #01d262;
}

.our_activity .single-Promo:hover>.promo-icon i {
    background: #01d262;
    color: #fff;
}

.our_activity .single-Promo:hover>h2::before {
    background: #01d262;
    color: #fff;
}

.footer_carosal {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 150px;
    padding: 60px 0;
}

.footer_carosal .footer_carosal_icon .item img {
    width: 150px;
}

.footer {
    background: #2e2e2e;
    padding-top: 80px
}

.footer .footer-charity-text {
    max-width: 345px;
}

.footer .footer-charity-text h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 27px;
}

.footer .footer-charity-text p {
    color: rgb(91, 91, 91);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.footer .footer-charity-text hr {
    border-color: rgb(91, 91, 91);
}

.footer .footer-charity-text p i {
    color: #5b5b5b;
    font-size: 18px;
    margin-right: 20px;
}

.footer-charity-text hr {
    margin: 35px 0;
}

.footer .footer-text h3 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 8px 0 25px;
}

.footer .footer-text ul {
    margin: 0;
    padding: 0;
}

.footer .footer-text.one ul li {
    left: 7px;
    list-style: outside none none;
    padding-left: 20px;
    position: relative;
}

.footer .footer-text.one ul li i {
    color: rgb(91, 91, 91);
    font-size: 15px;
    left: -7px;
    position: absolute;
    top: 3px;
}

.footer .footer-text.one ul li a {
    color: rgb(91, 91, 91);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text.two ul li a {
    color: rgb(91, 91, 91);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer .footer-text ul li {
    margin-bottom: 10px;
}

.footer .footer-text.two ul li a:hover,
.footer .footer-text.one ul li a:hover,
.footer .footer-text.one ul li i:hover,
.footer .footer-charity-text p i:hover {
    color: #c0c0c0;
}

.footer .footer_bottom p {
    background: #232323 none repeat scroll 0 0;
    color: #cacaca;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 75px;
    line-height: 75px;
    margin: 70px 0 0;
    padding: 0;
    text-align: center;
}

.footer .footer_bottom p a {
    color: #2ad880;
    text-decoration: none;
}

.block-wrapper {
    background-image: url(img/count.jpg);
    background-size: 100% 100%;
}

.block-wrapper {
    padding: 60px 0;
    margin-top: 130px;
}

.block-wrapper .block {
    text-align: center;
    padding: 25px 0;
}

.block-wrapper .block i {
    font-size: 60px;
    color: #fff;
}

.block-wrapper .block p.counter-wrapper span {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.block-wrapper .block p.text-block {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.block-wrapper .for-border {
    border-left: 1px solid #2be587;
}

.block-wrapper .for-border:first-child {
    border-left: 0px solid #fff
}

.clear {
    clear: both;
}
.footer_carosal_icon .owl-nav{
    display: none;
}